[Unit]
Description=zpld Supervisor Control Socket
Documentation=https://github.com/adityasonavane7/zpld

[Socket]
ListenStream=/run/zpld/supervisor.sock
SocketMode=0660
SocketGroup=zpld

[Install]
WantedBy=sockets.target
